$background-color: red;

/* NEW COLOR */
$color-new-primary: #2979F9;
$color-hover-new-primary: #2368d6;


/* BORDER */
$button-border-width: 2px;

/* Cursor */
$cursor-pointer: pointer;


/* Transition */
$linear: all linear .3s;
