<div class="d-flex row">
  <div class="col-md-9 height-full container-background-login">

  </div>
  <div class="col-md-3 bg-panel-signin">
    <div class="p-5 mt-5">
      Agenda Henry
    </div>

    <div class="p-5">
      <h4>Bem vindo a Agenda Henry</h4>
      <form [formGroup]="formulario" (ngSubmit)="autenticar()">
        <div class="form-group has-icon">
          <i class="oi oi-person"></i>
          <input type="text" class="form-control form-control-lg" placeholder="login" formControlName="email"/>
        </div>
        <div class="form-group has-icon">
          <i class="oi oi-lock-locked"></i>
          <input type="text" class="form-control form-control-lg" placeholder="senha" formControlName="senha"/>
        </div>
        <div class="form-group">
          <button class="btn btn-block btn-lg btn-new-primary">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
